body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(235, 153, 46);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.allCards {
  display:flex;
  flex-direction: row;
  margin: 25px 0px 0px 10px;
  float:left;

}

.card {
  /* float:left; */
  margin-right: 55px;
  background-color: aqua;
  box-shadow: 3px 3px 8px;
  padding: 8px;
  width: 250px;
  height: 325px;
  text-align: center;
  border-radius: 3px;
}

.allText {
  margin:0px auto;
  width: 15%;
  padding: 6px;
  
  
}